__pycache__/
.ipynb_checkpoints/
.vscode/
.DS_Store
.cache
.pytest_cache
*.pyc
*.pkl
!calibration_by_assetID.pkl
build/
_build/
flake8_log.txt
ooipy/tests/figures
.idea
debug.ipynb
dist/
ooipy.egg-info/
*.wav
ooi_auth.txt

